@model AlbumCollection.Models.Song
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/style.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Capriola|Barlow+Semi+Condensed:700" rel="stylesheet">
    <title>Add Song</title>
</head>
<body>

    <h1>Add Song</h1>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <h1>
                        Name:
                        <input asp-for="Name" class="title-info" placeholder="Name" />

                        <span asp-validation-for="Name" class="text-danger"></span>
                        <input type="hidden" asp-for="AlbumId" class="form-control" />
                    </h1>

                </div>
                <div class="form-group">
                    
                </div>
                <div class="return-section">
                    
                </div>
                <div class="return-section">
                    <h2>
                        <input type="submit" value="Save Song" class="button create" />
                        <a class="button" href="/Album/Details/@Model.AlbumId">Cancel</a>
                    </h2>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
