@model AlbumCollection.Models.Album

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/details-style.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Capriola|Barlow+Semi+Condensed:700" rel="stylesheet">
    <title>@Model.Name</title>
</head>
<body>
    <section class="art">
        
    </section>
    <section class="title">
        <div class="title-info">
            <h1>@Model.Name</h1>
            <h3>By: @Model.Artist</h3>
        </div>
    </section>
    <section class="songs">
        <ol>
            <h1>Tracks</h1>
            @foreach (var song in Model.Songs)
            {
                <li>
                    <h3>@song.Name</h3>
                </li>
            }
            <li>
                <h3><a href="/Song/Create/@Model.AlbumId">Add Song</a></h3>
            </li>
        </ol>
    </sectionclass="songs">
</body>
<nav>
    <a class="button" href="/Album/Index">Return to Collection</a>
        
</nav>
    

</html>
